@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto',sans-serif;
  overflow-x: hidden;
}
.landing-div{
  height: 55vw;
  background: #06062A;
  font-family: 'Quicksand',sans-serif;
}
.social-nav{
  position: absolute;
  margin-top: 40vw;
  margin-left: 45vw;
}
.social-nav a{
  color: white;
  font-size: 1.75vw;
  margin-left: 45vw;
}
.social-nav li {
  margin-top: 1.5vw;
  list-style: none;
}
.nav{
  position: absolute;
}
.nav ul{
  list-style: none;
}
.nav a{
  color: white;
  text-decoration: none;
}
.nav li{
    position: absolute;
}
.nav li:nth-child(2){
  margin-left: 7.5vw;
}
.nav li:nth-child(3){
  margin-left: 15vw;
}
.nav ul{
  display: flex;
  margin-left: 65vw;
  padding-top: 2vw;
  font-size: 1.5vw;
}
.land-desc{
  position: absolute;
  margin-left: 5vw;
  margin-top: 20vw;
}
.land-desc h3{
  color: white;
  font-size: 1.5vw;
  letter-spacing: 2px;
}
.land-desc h1{
  color: #B20BCE;
  font-size: 7.5vw;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-top: 1vw;
  font-weight: bolder;
}
.land-desc p{
  color: white;
  margin-top: 1vw;
}
.line-1{
  position: absolute;
  background: white;
  height: 0.15vw;
  width: 8.5vw;
  margin-top: -1vw;
  margin-left: 8vw;
}
.vid-land{
  margin-top: 2.5vw;
}
.vid-btn{
  position: absolute;
  color: white;
  background: #B20BCE;
  width: 3.25vw;
  height: 3.25vw;
  border-radius: 100%;
  box-shadow: 0px 2px 3px #AC0CC795;cursor: pointer;
}
.vid-icon{
  position: absolute;
  margin-top: 1vw;
  margin-left: 1vw;
}
.vid-land h3{
  position: absolute;
  margin-left: 5vw;
  margin-top: 0.75vw;
  font-size: 1.25vw;
}
.land-img{
  background: url('https://media.discordapp.net/attachments/887226004769222669/887233712419397653/unknown.png?width=703&height=513');
  width: 50vw;
  height: 30vw;
  transform: scale(1.5);
  position: absolute;
  margin-top: 5vw;
  margin-left: 35vw;
}
.about-div h1{
  color: #06062A;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 3.5vw;
  letter-spacing: 2px;
  position: absolute;
  margin-left: 5vw;
  margin-top: 5vw;
}
.about-blob{
  position: absolute;
  width: 90%;
  left: 5%;
  height: 25vw;
  background: #06062A;
  margin-top: 12.5vw;
  border-radius: 10px;

}
.why-desc{
  position: absolute;
  background: #eee;
  margin-left: 12.5vw;
  margin-top: 27.5vw;
  width: 27.5vw;
  height: 17.5vw;
  padding: 10px;
  border-radius: 10px;
  z-index: 5;
}
.why-desc h3{
  font-size: 2vw;
  margin-left: 1.5vw;
  font-weight: bolder;
  margin-top: 0.75vw;
}
.why-desc p{
  margin-left: 1.75vw;
  margin-top: 1vw;
}
.why-desc button{
  margin-top: 2.5vw;
  cursor: pointer;
  width: 10vw;
  height: 2.5vw;
  margin-left: 1.75vw;
  font-size: 1.25vw;
  background: #06062A;
  border: none;
  color: #eee;
  font-family: 'Roboto',sans-serif;
  border-radius: 5px;
}
.init-desc{
  position: absolute;
  margin-left: 67.5vw;
  margin-top: 45vw;
}
.init-desc h3{
  font-size: 1.75vw;
}
.init-desc p {
  margin-top: 0.5vw;
  margin-left: 0.15vw;
}
.team-div h1{
  position: absolute;
  color: #06062A;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 3.5vw;
  letter-spacing: 2px;
  position: absolute;
  margin-left: 5vw;
  margin-top: 67.5vw;
}
.line-team{
  position: absolute;
  width: 15vw;
  height: 0.5vw;
  background: #06062A;
  margin-left: 5vw;
  margin-top: 66.5vw;
}
.team-div p{
  position: absolute;
  margin-top: 68vw;
  margin-left: 22.5vw;
  font-weight: 500;
}
.timeline-div{
  background: #06062A;
  margin-top: 110vw;
  height: 75vw;
}
.timeline-div h1{
  color: #B20BCE;
  font-size: 3.75vw;
  font-weight: bolder;
  position: absolute;
  margin-left: 10vw;
  margin-top: 7.5vw;
}
.timeline-div h2{
  color: #eee;
  position: absolute;
  margin-left: 15vw;
  margin-top: 12.5vw;
  font-size: 2.5vw;
}
.line-timeline{
  position: absolute;
  height: 10vw;
  width: 0.15vw;
  background: #eee;
  margin-top: 7.5vw;
  margin-left: 62.5vw;
}
.timeline-div p{
  position: absolute;
  color: #eee;
  margin-top: 9.5vw;
  margin-left: 65vw;
}
.time-insta-div{
  width: 90%;
  margin-left: 5%;
  margin-top: 22.5vw;
  height: 50vw;
  background: #fff;
  position: absolute;
  border-radius: 10px;
}
.insta-info{
  position: absolute;
  margin-left: 10.5vw;
  margin-top: 2.5vw;
}
.insta-info h4{
  font-size: 1.75vw;
}
.insta-info a{
  color: #B20BCE;
  text-decoration: none;
}
.insta-dp{
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 0.5vw;
  background: url('https://media.discordapp.net/attachments/741244174736556076/893200501007593532/unknown.png');
  background-size: cover;
  position: absolute;
  margin-top: -3.25vw;
  margin-left: -5vw;
}
.insta-desc{
  position: absolute;
  width: 22.5vw;
  height: 26.5vw;
  margin-left: 62.5vw;
  margin-top: 12.5vw;
  border-radius: 1vw;
  background:#06062A;
}
.insta-desc h2{
  margin-left: 1.5vw;
  margin-top: 2vw;
}
.line-in{
  position: absolute;
  width: 10vw;
  height: 0.15vw;
  margin-left: 1.5vw;
  background: #fff;
  margin-top: 9.5vw;
}
.insta-desc p{
  position: absolute;
  margin-left: 1.5vw;
  margin-top: 10.5vw;
}
.time-insta-div ul{
  position: absolute;
  margin-left: 65vw;
  list-style: none;
  font-size: 1.35vw;
  margin-top:42.5vw;
}
.time-insta-div ul li{
  position: absolute;
}
.s-1,.s-2,.s-3,.s-4{
  transition: all 0.2s ease;
  cursor: pointer;
}

.s-1:hover,
.s-2:hover,
.s-3:hover,
.s-4:hover{
  color: #B20BCE;
}
.s-1{
  margin-left: 2.5vw;
}
.s-2{
  margin-left: 6vw;
}
.s-3{
  margin-left: 9.5vw;
}
.s-4{
  margin-left: 13vw;
}
.insta-data{
  position: absolute;
  margin-top: 12.5vw;
  margin-left: 5vw;
}
.post-1{
  width: 27.5vw;
  height: 27.5vw;
  background: red;
  border-radius: 1vw;
}
.post-2{
  background: black;
  width: 12.5vw;
  height: 12.5vw;
  position: absolute;
  margin-top: -27.5vw;
  border-radius: 1vw;
  margin-left: 28.5vw;
}
.post-3{
  width: 12.5vw;
  height: 12.5vw;
  position: absolute;
  margin-top: -27.5vw;
  border-radius: 1vw;
  background: #B20BCE;
  margin-left: 42.5vw;
}
.post-4{
  width: 12.5vw;
  height: 12.5vw;
  position: absolute;
  margin-top: -13.5vw;
  margin-left: 28.5vw;
  border-radius: 1vw;
  background: #111;
}
.post-5{
  width: 12.5vw;
  height: 12.5vw;
  position: absolute;
  margin-top: -13.5vw;
  border-radius: 1vw;
  background: rgb(65, 65, 0);
  margin-left: 42.5vw;
}
.team-slide{
  position: absolute;
  margin-top: 80vw;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 95%;
}
.swiper-wrapper{
  padding-left: 5vw;
}
.swiper-slide{
  background: #eee;
  border-radius: 1vw;
  cursor: pointer;
  height: 25vw !important;
}
.swiper-slide img{
  width: 15vw;
  height: 15vw; 
  border-radius: 100%;
  margin-top: 1.5vw;
  margin-left: 5.85vw;
}
.swiper-slide h2{
  margin-top: 2vw;
}
.swiper-slide h2,.swiper-slide h4{
  text-align: center;
}
@media only screen and (max-width:600px) {
  .land-img,.social-nav,.nav{
    display: none;
  }
  .landing-div{
    height: 90vw;
  }
  .line-1{
    height: 1vw;
    width: 15vw;
    margin-left: 22.5vw;
    margin-top: -2.5vw;
  }
  .land-desc h3{
    font-size: 3.5vw;
    margin-left: 1vw;
  }
  .landing-div h1{
    margin-top: 2vw;
    font-size: 10vw;
  }
  .landing-div p{
    font-size: 4.5vw;
  }
  .vid-land{
    margin-top: 5vw;
  }
  .vid-land h3{
      margin-left: 15vw;
      margin-top: 3.25vw;
  }
  .vid-btn{
    height: 10vw;
    width: 10vw;
  }
  .vid-icon{
    margin-top: 2.5vw;
    margin-left: 2.5vw;
  }

}